[data-dropdown] {
    position: relative;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].active .dropdown-menu {
    display: block;
    animation: show-up .3s forwards;
    padding: 10px;
    border-radius: 4px;
}

[data-dropdown] .dropdown-menu {
    display: none;
    position: absolute;
    background: rgba(238, 85, 68, 0.98);
    border: 2px solid #333;
    z-index: 200;
}

@keyframes show-up {
    from {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.dropdown-menu li a:hover {
    color: white;
}

.dropdown-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 0px;     /*não entendi o motivo do width e height e não altera nada sem eles*/
    height: 0px;
    border-bottom: 10px solid #E54;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}