@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body, h1, h2, ul, li, p, dl, dt, dd {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;    /*mantém a largura máxima da imagem como 100% do seu tamanho original e a mínima dependerá da viewport tornando a imagem responsiva*/
}

ul {
    list-style: none;
}

body {
    background-color: #faf6ed;
    color: #222;
    -webkit-font-smoothing: antialiased;    /*específico do chrome para deixar a letra mais limpa*/
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;   /*define as colunas do grid (1"fr"ação nas pontas, segunda coluna de 120px e terceira com largura minima de 300px e largura maxima de 800px), */
}

.menu {
    grid-column: 3/5;   /*o nav ficará da coluna 3 até a 5*/
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #FB5;
}

.menu ul {
    display: flex;      /*flexbox*/
    flex-wrap: wrap;    /*quebra e embrulha os elementos da lista para a linha inferior em telas pequenas*/
    padding: 10px;
}

.menu li a {
    display: block;
    padding: 15px 10px;  /*aumenta a área de contato do botão, 15 top e bottom e 10 lados para ter boa acessibilidade como o script.js no exercício*/
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace; /*usada por import no css*/
    font-weight: bold;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .1em;
}

.grid-section {
    grid-column: 2/4;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /*width e height contam com o padding*/
    display: grid;
    grid-template-columns: 90px 300px 1fr; /*1fr é a que vai variar que será o texto!*/
    grid-gap: 20px; /*distância entre os grids*/
    margin-bottom: 4rem;
}

.titulo {
    font-family: 'Playfair Display SC', georgia;    /*usada como link*/
    font-size: 6rem;
    line-height: 1; /*altura entre as linhas do título*/
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1/4;   /*esse grid é o grid da grid-section*/
}

.animais p{
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animais h2 {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #E54;
}

.animais h2::before {
    content: '';    /*sempre tem que ter o content mesmo que vazio*/
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background-color: #FB5;
}

.animais-lista {
    height: 370px;
    overflow-y: scroll; /*o que passar do height (eixo y) passa para o scrollbar*/
    grid-column: 2;
}

.animais-lista li {
    cursor: pointer;
}

/*estilizando barra de scroll, não é todo browser que dá, o chrome dá*/

.animais-lista::-webkit-scrollbar {
    width: 18px;
}

/*estilizando a barra de scroll*/

.animais-lista::-webkit-scrollbar-thumb {
    background-color: #FB5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}

/*estilizando o caminho da scrollbar*/

.animais-lista::-webkit-scrollbar-track {
    background-color: #faf6ed;
}

.animais-descricao {
    grid-column: 3;
}

.animais-descricao section {
    margin-bottom: 3rem;
}


.faq-lista {
    grid-column: 2/4;
}

.faq-lista dt {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;   
    color: #E54;
    cursor: pointer;
}

.faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    background-color: #FB5;
    margin-right: 10px;
}

.faq-lista dd {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: .5rem;
    margin-left: 30px;
}

.mapa {
    grid-column: 2;

}

.dados {
    grid-column: 3;
}

.dados li {
    margin-bottom: 1rem;
    font-family: Helvetica, Arial, sans-serif;
}

.dados li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    background-color: #FB5;
    margin-right: 10px;
}

.copy {
    grid-column: 3/5;
    margin-bottom: 2rem;
    background: #FB5;
}

.copy p {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

@media (max-width: 700px) { /*o layout começa a quebrar com 700 pixels nessa pagina*/
    .grid-container {
        grid-template-columns: 1fr;
    }

    .menu, .grid-section, .copy {
        grid-column: 1;
    }

    .grid-section {
        grid-template-columns: 100px 1fr;   /*3 colunas*/
        grid-gap: 10px;
    }

    .animais-lista {
        grid-column: 1;
    }

    .faq-lista, .dados, .mapa {
        grid-columns: 1/3;
    }

    .grid-section h1 {
        font-size: 3rem;
    }

    .menu {
        margin-top: 0px;
    }

    .copy {
        margin-bottom: 0px;
    }
}

.js [data-tab="content"] section {
    display: none;
}

[data-tab="content"] section.ativo {
    display: block !important;                      /*!important põe como prioridade para o CSS, força*/
}

[data-tab="content"] section.ativo.show-right {                  
    animation: show-right .5s forwards;                  
}

[data-tab="content"] section.ativo.show-down {                 
    animation: show-down .5s forwards;                  
}

@keyframes show-right {   /*animação com css*/
    from {
        opacity: 0;                                 /*começa opacidade 0*/
        transform: translate3d(-30px, 0, 0);        /*eixos x, y e z, começa no eixo x em -30*/
    }
    to {
        opacity: 1;                                 /*finaliza com opacidade 1*/
        transform: translate3d(0, 0, 0);            /*termina na posição não transladada*/
    }
}

@keyframes show-down {   /*animação com css*/
    from {
        opacity: 0;                                 /*começa opacidade 0*/
        transform: translate3d(0, -30px, 0);        /*eixos x, y e z, começa no eixo x em -30*/
    }
    to {
        opacity: 1;                                 /*finaliza com opacidade 1*/
        transform: translate3d(0, 0, 0);            /*termina na posição não transladada*/
    }
}

[data-anime="accordion"] dt.ativo::after {
    content: '⮧';
    margin-left: 10px;
}

[data-anime="accordion"] dd.ativo{
    display: block !important;
    animation: showAccordion .5s forwards;
}

.js [data-anime="accordion"] dd{
    display: none;
}

@keyframes showAccordion {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        max-height: 200px;
    }
}

.js [data-anime="scroll"] {    /*não se usou o display none pois assim o scroll iria ficar dando saltos*/
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .5s;    /*com o transition aqui anima a entrada e a saída*/
}

[data-anime="scroll"].ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

[data-semana]::after {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    background: #E54;
    border-radius: 50%;
    margin-left: 4px;
    border: 2px solid black;
}

[data-semana].aberto::after {
    background: #3F4;
}

.btc-preco {
    background: #3F4;
    padding: .2rem .5rem;
    font-weight: bold;
    border-radius: 6px;
}